@import "src/assets/style/library.scss";


.container{
    @include flex();
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
    position: absolute;
    top:0;
    left: 0;
    h1{
        position: absolute;
        top:3vh;    
        color: black;
        filter: drop-shadow(2px 2px #b3882b);
        font-size: 3vw;
    }
    .img-container{
        @include flex();
        justify-content: space-around;
        width: 100%;
        height: 40vh;
        background-color: white;
        img{
            width: 30%;
            height: 30vh;
        }   
    }
    .button-container{        
        @include flex();
        justify-content: space-between;
        width: 40%;
        height: 10vh;
    }
}